Saityno paslaugos/first-spring-boot/src/main/resources/restaurant.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="restaurant">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="name" type="xs:string"/>

                <xs:element name="menuItems">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="menuItem" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="price" type="xs:double"/>
                                        <xs:element name="available" type="xs:boolean"/>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>